body{
    background-color: rgb(204, 255, 0);
    background-image: url(img/bloke.jpg);
}
h1{
    font-family: cursive;
    font-style: italic;
    color: rgb(66, 0, 0);
}
.blink{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
img{
    width: 100%;
}
.legrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    object-fit: cover;
    animation: blinker 5s linear infinite;
}
.annoyingtext{
    font-family: cursive;
    position: relative;
    -ms-grid-layer: 2;
    justify-content: center;
    color: deeppink;
    width: 100%;
    font-size: 500%;

}